<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>users</title>
</head>
<body>
<div th:switch="${usersList}">
    <h2 th:case="null">No users found</h2>
    <div th:case="*">
         <h2>Users</h2>
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>last name</th>
            <th>Username</th>
            <th>Password</th>
            <th>Roles</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${usersList}">
            <td><a th:href="@{/user/{id}(id=${user.getId()})}" th:text="${user.getId()}">id</a></td>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getLastName()}"></td>
            <td th:text="${user.getUsername()}"></td>
            <td th:text="${user.getPassword()}"></td>

            <td th:each="role : ${user.getRoles()}">
                <span th:text="${role.toString()}"></span>
            </td>

            <td><a th:href="@{user-update/{id}(id=${user.getId()})}">Edit</a></td>
            <td><a th:href="@{user-delete/{id}(id=${user.getId()})}">Delete</a></td>
        </tr>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        </tbody>
    </table>
    </div>
    <p><a href="/user-create">Create user</a></p>
</div>
</body>
</html>