<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org " lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<form action="#" th:action="@{/user-create}" th:object="${user}" method="post">
    <label for="lastName">username</label>
    <input type="text" th:field="*{username}" id="username" placeholder="username">
    <label for="userName">password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="password">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <label for="lastName">last name</label>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last name">

    <input type=checkbox id=admin name=roles value="ROLE_ADMIN">
    <label for="admin">Admin</label>
    <input type=checkbox id=user name=roles value="ROLE_USER">
    <label for="user">User</label>

    <input type="submit" value="Create user">
</form>
</body>
</html>