<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org " lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<form action="#" th:action="@{/user-update}" th:object="${user}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <br/>
    <label for="lastName">last name</label>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last name">
    <br/>
    <label for="username">username</label>
    <input type="text" th:field="*{username}" id="username" placeholder="Last name">
    <br/>
    <label for="password">password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Last name">
    <br/>

    <input type=checkbox id=admin name=roles th:checked="${roles.contains('ROLE_ADMIN')} ? 'checked'" value="ROLE_ADMIN">
    <label for="admin">Admin</label>
    <br/>

    <input type=checkbox id=user name=roles th:checked="${roles.contains('ROLE_USER')} ? 'checked'" value="ROLE_USER">
    <label for="user">User</label>
    <br/>

    <input type="submit" value="Update user">
</form>
</body>
</html>